@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til Zealand Zoo</h1>
    <p>Åbent hver fredag fra klokken 14.00 til 20.00.</p>
</div>
