@page
@model WebZooWeb.Pages.EventPages.EventOverviewModel
@{
    ViewData["Title"] = "Event Overview";
}

<div class="row row-cols-3">
    @foreach (var e in Model.Events)
    {
        <div class="card-body">
            <h4 class="card-title">@e.Name</h4>
        </div>

    }
</div>

