@page
@model WebZooWeb.Pages.AdminPages.CreateEventModel
@{
}
<body>
    <container-sm>
        <div class="text-center">
            <h1>Opret Event</h1>
        </div>

        <div class="card shadow-sm">
            <div class="card-body text-center">
                <form method="post">
                    <div class="form-group container-fluid">
                        <input asp-for="Name" id="name"  placeholder="Titel for Event" />
                        <label for="inputDateTime">Dato: </label>
                        <input type="date" asp-for="Date" id="Date"  placeholder="Dato For Event">
                        <label for="inputDateTime">Starttid: </label>
                        <input type="time" asp-for="StartHour" id="StartTime"  placeholder="Skriv Starttidspunkt"  />
                        <label for="inputDateTime">Sluttid: </label>
                        <input type="time" asp-for="EndHour" id="StartTime"  placeholder="Skriv Sluttidspunkt" />
                        <br/>
                        <label for="inputMaxAttendants">Max Tilmeldinger </label>
                        <input asp-for="MaxAttendents" id="MaxAttendents" placeholder="Max Tilmeldinger" />
                        <input asp-for="Description" id="Description" placeholder="Om Eventet:" />
                        <input type="hidden" asp-for="ImgPath" />
                        <div class="btn-group row row-cols-md-2 row-cols-lg-4 g-3 mt-3">
                            <button type="button" onclick="setImagePath('\\images\\flamingopartyone.jpg')">
                                <img src="\images\flamingopartyone.jpg" class="img-fluid object-fit-contain border rounded" />
                            </button>
                            <button type="button" onclick="setImagePath('\\images\\flamingopartytwo.jpg')">
                                <img src="\images\flamingopartytwo.jpg" class="img-fluid object-fit-contain border rounded" />
                            </button>
                            <button type="button" onclick="setImagePath('\\images\\flamingocut5.jpg')">
                                <img src="\images\flamingocut5.jpg" class="img-fluid object-fit-contain border rounded" />
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-5">Submit</button>
                </form>
            </div>
        </div>

        </<div>
        </div>
    </container-sm>
</body>

<script>
    const message = '@TempData["Message"]';
    if (message) {
        alert(message);
    }
</script>
<script>
    function setImagePath(path) {
        document.querySelector('[name="ImgPath"]').value = path;
    }
</script>
