@page
@model WebZooWeb.Pages.AdminPages.CreateEventModel
@{
}
<body>
    <container-sm>
        <div class="text-center">
            <h1>Opret Event</h1>
        </div>

        <div class="card shadow-sm">
            <div class="card-body text-center">
                <form method="post">
                    <div class="form-group container-fluid">
                        <input asp-for="Name" id="name" aria-describedby="dateTimeHelp" placeholder="Titel for Event" />
                        <label for="inputDateTime">Dato: </label>
                        <input type="date" asp-for="Date" id="Date" aria-describedby="dateTimeHelp" placeholder="Dato For Event">
                        <label for="inputDateTime">Starttid: </label>
                        <input type="time" asp-for="StartHour" id="StartTime" aria-describedby="dateTimeHelp" placeholder="Skriv Starttidspunkt" step="3600" />
                        <label for="inputDateTime">Sluttid: </label>
                        <input type="time" asp-for="EndHour" id="StartTime" aria-describedby="dateTimeHelp" placeholder="Skriv Sluttidspunkt" step="3600" />
                        <label for="inputDateTime">Max Tilmeldinger </label>
                        <input asp-for="MaxAttendents" id="MaxAttendents" placeholder="Max Tilmeldinger" />
                        <input asp-for="Description" id="Description" placeholder="Om Eventet:" />
                    </div>
                    <button type="submit" class="btn btn-primary mt-5">Submit</button>
                </form>
            </div>
        </div>

        </<div>
        </div>
    </container-sm>
</body>
